Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-07, with the labels that each got.

#403 MGDCTRS-584 Make apicurio.auth.service.url and apicurio.auth.realm configurable via ConfigMap
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumConstants.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandConfiguration.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/AbstractApicurioConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KafkaConnectConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KafkaConnectJsonConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KafkaConnectJsonWithSchemaConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KeyAndValueConverters.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
  etc/kubernetes/manifests/overlays/staging/cos-fleetshard-operator-debezium/app-config/application.properties
Labels: debezium

#417 MGDCTRS-1183: camel-k operator does not propery update a running integrations
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorContext.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/resources/Resources.java
Labels: common, camel, test

#418 MGDCTRS-1183: compute traits checksum
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorContext.java
  cos-fleetshard-operator-camel-it/src/test/java/org/bf2/cos/fleetshard/operator/it/camel/glues/KameletBindingSteps.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/resources/Resources.java
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
Labels: common, camel, test

#378 chore(deps): bump openapi-generator-maven-plugin from 5.4.0 to 6.0.1
  cos-fleet-manager-api/pom.xml
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorClusterStatusSync.java
  pom.xml
Labels: sync
