Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-11, with the labels that each got.

#523 Removed unecessary finalizer in observability resource creation.
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/FleetShardSyncConfig.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetShardObservabilityClient.java
Labels: sync

#522 MGDCTRS-1169: cos-fleetshard-operator creates an empty configmap for …
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorSteps.java
  cos-fleetshard-operator-camel/src/main/kubernetes/kubernetes.yml
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/support/BaseSpec.groovy
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
  cos-fleetshard-operator-it/src/test/java/org/bf2/cos/fleetshard/operator/it/support/TestProducers.java
  cos-fleetshard-operator-it/src/test/resources/ConnectorDeletedAndResynced.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorMultipleOperators.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorOperatorsMigration.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorReifyFailing.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorReifyFailingOnUpdate.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorSecretMissing.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorSecretUoWMismatch.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorStoppedAndResynced.feature
  cos-fleetshard-operator-it/src/test/resources/ConnectorUnassigned.feature
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorConfigmapEventSource.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorConfiguration.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorController.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/operand/AbstractOperandController.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/operand/OperandController.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/operand/OperandControllerMetricsWrapper.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/resources/ConfigMaps.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/resources/Resources.java
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-camel/kubernetes.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
Labels: common, camel, debezium, operator, test

#530 MGDCTRS-1671 Failing connector should not stuck in provision phase when connection to Kafka Cluster is not possible
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandSupport.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
Labels: debezium

#529 MGDCTRS-1598: Modify cos-fleetshard-sync, cos-fleetshard-operator-cam…
  cos-fleetshard-operator-camel/README.adoc
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-debezium/README.adoc
  cos-fleetshard-operator-debezium/pom.xml
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/config/ApplicationOverrideConfigSourceProvider.java
  cos-fleetshard-support/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSourceProvider
  cos-fleetshard-sync/README.adoc
  cos-fleetshard-sync/pom.xml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-camel/kubernetes.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-debezium/kubernetes.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
Labels: common, camel, debezium, sync

#521 Create observability sso secret depending on environment
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/ObservabilityTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/support/TestFleetShardSync.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/FleetShardSyncConfig.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetShardObservabilityClient.java
Labels: sync, test

#533 MGDCTRS-1698: avoid NPE in message improver
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/ConditionMessageImprover.java
Labels: camel

#537 Fix typo preventing sync to start when cos.observability.environment secret is found
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetShardObservabilityClient.java
Labels: sync
