Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-10, with the labels that each got.

#474 [chore] bump prometheus version to v.2.35.0
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetShardObservabilityClient.java
Labels: sync

#475 Adding connector type tag to the connector status metric
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorStatusUpdater.java
Labels: sync

#438 Add openshift/kubernetes cluster info to the the cluster status reporting
  cos-fleet-manager-api/src/openapi/specs/connector_mgmt-private.yaml
  cos-fleet-manager-api/src/openapi/specs/connector_mgmt.yaml
  cos-fleet-manager-api/src/openapi/specs/kas-fleet-manager.yaml
  cos-fleetshard-sync-it/pom.xml
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/ClusterStatusUpdaterTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/ClusterStatusUpdaterWithNoVersionTest.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/FleetShardSyncProducers.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetManagerClient.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetShardClient.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorClusterStatusSync.java
  cos-fleetshard-sync/src/main/kubernetes/kubernetes.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
  etc/kubernetes/manifests/overlays/it/cos-fleetshard-sync-it/crds/clusterversions.config.openshift.io-v1.yml
  etc/kubernetes/manifests/overlays/it/cos-fleetshard-sync-it/crds/observabilities.observability.redhat.com-v1.yml
  etc/kubernetes/manifests/overlays/it/cos-fleetshard-sync-it/kustomization.yaml
  etc/kubernetes/manifests/overlays/local/cos-fleetshard-sync/kustomization.yaml
Labels: sync, test

#488 fix: remove kubernetes manifests from ingored phats
  .github/workflows/build-main.yaml
Labels: github_ci

#498 fix(ci): fix camel-k image selection
  .github/workflows/build-main.yaml
Labels: github_ci

#490 Mgdctrs 1379
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorStatusUpdater.java
Labels: sync

#506 MGDCTRS-1098: add basic error message processing
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/ConditionMessageImprover.java
Labels: camel

#508 MGDCTRS-1151: use Recreate deployment strategy
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReifyWithDefaults.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelConstants.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
Labels: camel, test

#505 Adding connector resourec version tag to the connector status counter…
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorStatusUpdater.java
Labels: sync

#507 MGDCTRS-1566 Stop creating new/duplicated conditions in the ManagedConnector resource with every reconciliation run
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandSupport.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/ConnectorStatus.java
Labels: debezium

#487 feat: replace programmatic creation of meters with injection
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/metrics/StaticMetricsRecorder.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceReaperDelReprovisionTestBase.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/support/MetricsSupport.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/housekeeping/Housekeeper.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/metrics/MetricsProducers.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorClusterStatusSync.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorDeploymentProvisioner.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorNamespaceProvisioner.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorStatusSync.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ResourcePoll.java
  cos-fleetshard-sync/src/test/java/org/bf2/cos/fleetshard/sync/resources/ConnectorProvisionerTest.java
  cos-fleetshard-sync/src/test/java/org/bf2/cos/fleetshard/sync/resources/NamespaceProvisionerTest.java
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/crds/managedconnectors.cos.bf2.org-v1.yml
Labels: common, sync, test

#514 chore: fix build tag
  .github/workflows/build-tag.yaml
Labels: github_ci

#513 MGDCTRS-1214 Fix K8s resource requests and limits for infrastructure components (Fleetshard-Sync, Camel Operator, Debezium Operator, Camel-K, Strimzi)
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-debezium/pom.xml
  cos-fleetshard-sync/pom.xml
  etc/kubernetes/manifests/base/apps/camel-k/patches/patch-camel-k-deployment.yaml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-camel/kubernetes.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-debezium/kubernetes.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
  etc/kubernetes/manifests/base/apps/strimzi/operator/kustomization.yaml
Labels: camel, debezium, sync
