Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-03, with the labels that each got.

#227 Cleanup and improve camel unit tests
  cos-fleetshard-api/model/src/main/java/org/bf2/cos/fleetshard/api/KafkaSpec.java
  cos-fleetshard-api/model/src/main/java/org/bf2/cos/fleetshard/api/SchemaRegistrySpec.java
  cos-fleetshard-api/model/src/main/java/org/bf2/cos/fleetshard/api/ServiceAccountSpec.java
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/EndpointKamelet.java
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/OperandTest.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/ReifyDataShapeTest.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/ReifyErrorHandlerTest.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/ReifyTest.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/Spec.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/support/BaseSpec.groovy
  cos-fleetshard-operator-camel/src/test/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandControllerTest.java
  etc/kubernetes/sync/base/kubernetes.yml
  pom.xml
Labels: camel, api

#231 feat(camel): add suport for octet-stream data format
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/ReifyDataShapeTest.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/support/BaseSpec.groovy
Labels: camel

#232 MGDCTRS-517: Failure creating secret with label length above 63 characters limit
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReify.feature
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorController.java
Labels: camel, debezium, operator, test

#234 MGDCTRS-475 Add `data_shape` handling to support "JSON without schema", "JSON" (with Schema Registry using Apicurio) and AVRO (using Apicurio)
  cos-fleet-manager-api/src/openapi/specs/connector_mgmt.yaml
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorContext.java
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorSteps.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/support/BaseSpec.groovy
  cos-fleetshard-operator-debezium-it/src/test/java/org/bf2/cos/fleetshard/operator/it/debezium/DebeziumConnectorReifyAvroTest.java
  cos-fleetshard-operator-debezium-it/src/test/java/org/bf2/cos/fleetshard/operator/it/debezium/DebeziumConnectorReifyJsonWithSchemaTest.java
  cos-fleetshard-operator-debezium-it/src/test/java/org/bf2/cos/fleetshard/operator/it/debezium/DebeziumConnectorReifySchemalessJsonTest.java
  cos-fleetshard-operator-debezium-it/src/test/java/org/bf2/cos/fleetshard/operator/it/debezium/glues/DebeziumConnectorSteps.java
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorEvents.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorLifecycleDelete.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorLifecycleStop.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorMetricsDelete.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorMetricsDeploy.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorMetricsStop.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyAvro.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyJsonWithSchema.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifySchemalessJson.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyWithExternalConfig.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyWithTargetMeta.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumConstants.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandConfiguration.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/AbstractApicurioConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/ApicurioAvroConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/ApicurioJsonConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/DebeziumDataShape.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KafkaConnectConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KafkaConnectJsonConverter.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KeyAndValueConverters.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorConfiguration.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/operand/AbstractOperandController.java
Labels: camel, debezium, operator, test

#236 MGCTRS-546 Adding pull secret to Kafka Connect pods
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyAvro.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyJsonWithSchema.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifySchemalessJson.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumConstants.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
Labels: debezium, test

#241 MGDCTRS-602 Bugfixes: pull secret renaming, NPE when data_shape is not set, Strimzi CrashBackLoops
  cos-fleetshard-operator-camel/src/main/kubernetes/kubernetes.yml
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyAvro.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyJsonWithSchema.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifySchemalessJson.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumConstants.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/DebeziumDataShape.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KeyAndValueConverters.java
  cos-fleetshard-operator-debezium/src/main/kubernetes/kubernetes.yml
  cos-fleetshard-sync/src/main/kubernetes/kubernetes.yml
  etc/kubernetes/operator-camel/base/kubernetes.yml
  etc/kubernetes/operator-debezium/base/kubernetes.yml
  etc/kubernetes/sync/base/kubernetes.yml
  etc/scripts/create_pull_secret.sh
Labels: camel, debezium, sync, test

#248 add instruction about how to create a pull secret, remo the create_pull_secret.sh script
  .github/workflows/build-deploy.yaml
  README.adoc
  etc/scripts/create_pull_secret.sh
Labels: github_ci

#249 explicit set permissions for mounted volumes as the service does not run anymore as root user
  cos-fleetshard-sync/pom.xml
  etc/kubernetes/sync/base/kubernetes.yml
Labels: sync

#250 Pin version for next release
  .github/project.yaml
Labels: github_ci

#251 MGDCTRS-633: fleet-shard sync does not periodically re-sync the status of the connectors
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/EventQueue.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/LockSupport.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/ConnectorDeletedTest.java
Labels: common, sync, test

#258 MGDCTRS-617 Enable and add Prometheus metrics for Debezium connectors
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-debezium-it/src/test/java/org/bf2/cos/fleetshard/operator/it/debezium/glues/KafkaConnectSteps.java
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyAvro.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyJsonWithSchema.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifySchemalessJson.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyWithExternalConfig.feature
  cos-fleetshard-operator-debezium/pom.xml
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandSupport.java
  cos-fleetshard-operator-debezium/src/main/resources/kafka_connect_metrics.yml
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
  pom.xml
Labels: camel, debezium, test

#244 MGDCTRS-591 Make imagePullSecrets configurable
  .gitignore
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumConstants.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandConfiguration.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
  etc/kubernetes/operator-debezium/lgarciaac/app-config/application.properties
  etc/kubernetes/operator-debezium/local/app-config/application.properties
  etc/kubernetes/operator-debezium/rh-fuse/app-config/application.properties
  etc/kubernetes/operator-debezium/rhoc-staging/app-config/application.properties
Labels: debezium

#262 chore(deps): update groovy to v4.0
  cos-build-tools/pom.xml
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-debezium/pom.xml
  cos-fleetshard-sync/pom.xml
  pom.xml
Labels: camel, debezium, sync, tools

#266 create common selector for camel connectors
  cos-fleetshard-operator-camel-it/src/test/java/org/bf2/cos/fleetshard/operator/it/camel/glues/KameletBindingSteps.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelConstants.java
  etc/kubernetes/operator-debezium/base/kubernetes.yml
Labels: camel, test

#267 fleetshard agent should handle desired state
  cos-fleetshard-api/model/src/main/java/org/bf2/cos/fleetshard/api/ManagedConnector.java
  cos-fleetshard-operator-it/src/test/java/org/bf2/cos/fleetshard/operator/it/ConnectorUnassignedTest.java
  cos-fleetshard-operator-it/src/test/resources/ConnectorUnassigned.feature
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorController.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorStatusExtractor.java
  cos-fleetshard-sync/src/test/java/org/bf2/cos/fleetshard/sync/connector/ConnectorStatusExtractorTest.java
  etc/kubernetes/operator-camel/lburgazzoli/app-config/application.properties
  etc/kubernetes/sync/kcp/app-config/application.properties
  etc/kubernetes/sync/lgarciaac/app-config/application.properties
  etc/kubernetes/sync/rh-fuse/app-config/application.properties
Labels: operator, sync, api

#269 chore(kustomize): add placeholder value for namespace
  cos-fleetshard-operator-camel/src/main/kubernetes/kubernetes.yml
  cos-fleetshard-operator-debezium/src/main/kubernetes/kubernetes.yml
Labels: camel, debezium

#273 MGDCTRS-712 Stopping a Debezium connector should not pause the connector but free the resources by deleting them
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorLifecycleStop.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
Labels: debezium, test
