Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-06, with the labels that each got.

#377 MGDCTRS-923 Proper "Ready" condition mapping for KafkaConnect and KafkaConnector custom resources
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandSupport.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
Labels: debezium

#381 MGDCTRS-951: add an option to statically configure the sso url
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/AuthUrlStaticTest.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/FleetShardSyncConfig.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/AuthTokenSupplier.java
Labels: sync, test

#385 fix: restore env variables in build-main script
  .github/workflows/build-main.yaml
Labels: github_ci

#386 add echo to build-tag.yaml
  .github/workflows/build-tag.yaml
Labels: github_ci

#387 add quay-io login build-tag
  .github/workflows/build-tag.yaml
Labels: github_ci

#399 MGDCTRS-1126: remove unused properties from shard_metadata model
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/CamelShardMetadata.java
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/support/BaseSpec.groovy
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
Labels: camel

#400 chore: remove misleading warn/error message related to data shapes and error handlers
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorConfiguration.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/operand/AbstractOperandController.java
Labels: operator
