Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-08, with the labels that each got.

#432 MGDCTRS-1210: remove observability resources upon addon deletion
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetShardObservabilityClient.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/housekeeping/reapers/AddonReaper.java
Labels: sync

#440 chore(pipeline): remove the use of GH_TOKEN
  .github/workflows/build-tag.yaml
Labels: github_ci

#443 chore(pipeline): use PR_TOKEN instead of GH_TOKEN
  .github/workflows/build-main.yaml
  .github/workflows/build-tag.yaml
Labels: github_ci

#444 MGDCTRS-1301 Fix topic creation fails due to default compression.type set to lz4
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
Labels: debezium

#437 chore: align to the latest OpenAPI definitions
  cos-fleet-manager-api/src/openapi/specs/connector_mgmt-private.yaml
  cos-fleet-manager-api/src/openapi/specs/connector_mgmt.yaml
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerBadIdTestBase.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerSanitizeTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithQuotaAndCustomLimitsTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithQuotaDisabledTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithQuotaEmptyTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithQuotaNullTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithQuotaTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceReaperSyncTestBase.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceReaperTestSupport.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/PaginationTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/support/SyncTestSupport.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetManagerClient.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/client/FleetManagerClientApi.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorClusterStatusSync.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorNamespaceProvisioner.java
  cos-fleetshard-sync/src/test/java/org/bf2/cos/fleetshard/sync/connector/NamespaceProvisionerTest.java
Labels: sync, test

#447 chore: add Naros and remove Gunnar from automatic PR reviewer assignments
  .github/owners.yaml
Labels: github_ci

#446 feat: improve generated kubernetes resources sanitization scripts
  cos-build-tools/pom.xml
  cos-build-tools/src/main/resources/cleanup-generated-kubernetes-crds.groovy
  cos-build-tools/src/main/resources/cleanup-generated-kubernetes-resources.groovy
  cos-fleetshard-api/model/pom.xml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/crds/managedconnectorclusters.cos.bf2.org-v1.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/crds/managedconnectoroperators.cos.bf2.org-v1.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/crds/managedconnectors.cos.bf2.org-v1.yml
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/kubernetes.yml
Labels: tools, api
