Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-01, with the labels that each got.

#175 chore(ci): update auto-assign-reviewer version and rules
  .github/owners.yaml
  .github/workflows/pr.yaml
Labels: github_ci

#174 Improve camel main configuration set-up
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  etc/kubernetes/sync/base/kubernetes.yml
Labels: camel, test

#172 MGDSTRM-6086: refactor the camel fleet shard operator
  cos-fleetshard-operator-camel-it/src/test/java/org/bf2/cos/fleetshard/operator/it/camel/glues/CamelConnectorSteps.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReifyErrorHandler.feature
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReifyWithAnnotations.feature
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/CamelShardMetadata.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/EndpointKamelet.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/KameletEndpoint.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/Kamelets.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/ProcessorKamelet.java
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/ReifyTest.groovy
  cos-fleetshard-operator-camel/src/test/groovy/org/bf2/cos/fleetshard/operator/camel/Spec.groovy
  cos-fleetshard-operator-camel/src/test/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandControllerTest.java
  cos-fleetshard-operator-debezium/pom.xml
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/resources/Secrets.java
  etc/kubernetes/connectors/camel/kustomization.yaml
  etc/kubernetes/connectors/camel/secrets/connector.json
  etc/kubernetes/connectors/camel/secrets/kafka.json
  etc/kubernetes/connectors/camel/secrets/meta.json
  pom.xml
Labels: common, camel, debezium, test

#173 MGDCTRS-78: migrates to java operator sdk v2
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/FleetShardOperator.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorController.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorOperatorEventSource.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorSecretEvent.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorSecretEventSource.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/operand/OperandResourceWatcher.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/support/AbstractResourceController.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/support/RefreshEventSource.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/support/ResourceEvent.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/support/WatcherEventSource.java
  cos-fleetshard-operator/src/test/java/org/bf2/cos/fleetshard/operator/connector/ConnectorSecretEventTest.java
  pom.xml
Labels: operator
