Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-02, with the labels that each got.

#197 chore(deps): bump kubernetes-cliet from 5.11.2 to 5.12.1
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  etc/kubernetes/managedconnectors.cos.bf2.org-v1.yml
  pom.xml
Labels: debezium

#196 fix: if the reify process fails, the connector should be stopped and reported as failed
  cos-fleetshard-api/model/src/main/java/org/bf2/cos/fleetshard/api/ManagedConnectorConditions.java
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorSteps.java
  cos-fleetshard-operator-it/src/test/java/org/bf2/cos/fleetshard/operator/it/ConnectorReifyFailingTest.java
  cos-fleetshard-operator-it/src/test/java/org/bf2/cos/fleetshard/operator/it/support/TestProducers.java
  cos-fleetshard-operator-it/src/test/resources/ConnectorReifyFailing.feature
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorController.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/exceptions/ConnectorControllerException.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/exceptions/Drifted.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/exceptions/WrappedRuntimeException.java
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/metrics/MetricsRecorder.java
Labels: common, operator, test, api

#204 MGDCTRS-328: applies error handling strategy to Camel K
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/ConnectorSteps.java
  cos-fleetshard-operator-camel-it/src/test/java/org/bf2/cos/fleetshard/operator/it/camel/glues/KameletBindingSteps.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReifyErrorHandler.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelConstants.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator-camel/src/test/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandControllerTest.java
Labels: camel, test

#213 MGDCTRS-110 Upgrade Debezium Operator to the new API
  cos-fleetshard-operator-camel/src/test/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandControllerTest.java
Labels: camel

#215 MGDCTRS-110 Upgrade Debezium Operator to the new API
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator/src/main/java/org/bf2/cos/fleetshard/operator/connector/ConnectorController.java
Labels: camel, operator

#222 fix: replace jvm-entrypoint with jvm-arguments and remove custom jib base image to avoid compatibility issues when upgradeing quarkus
  cos-fleetshard-operator-camel/pom.xml
  cos-fleetshard-operator-debezium/pom.xml
  cos-fleetshard-sync/pom.xml
Labels: camel, debezium, sync

#225 fix(camel): ensure kamelet route ids are not duplicated
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-operator-camel/src/test/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandControllerTest.java
  etc/kubernetes/sync/base/kubernetes.yml
Labels: camel, test
