Repository bf2fc6cc711aee1a0c2a/cos-fleetshard, pull requests merged in 2022-04, with the labels that each got.

#283 MGDCTRS-727 Fix metrics config to be a UTF-8 String not a raw byte array
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/main/resources/kafka_connect_metrics.yml
Labels: debezium

#286 ci: add initial job to update manifests
  .github/workflows/build-main.yaml
Labels: github_ci

#292 ci: fix kustomizeation git permission
  .github/workflows/build-main.yaml
Labels: github_ci

#293 ci: fix kustomizeation git permission
  .github/workflows/build-main.yaml
Labels: github_ci

#294 ci: fix kustomizeation git permission
  .github/workflows/build-main.yaml
Labels: github_ci

#296 ci: fix kustomizeation git permission
  .github/workflows/build-main.yaml
Labels: github_ci

#297 ci: fix kustomizeation git permission
  .github/workflows/build-main.yaml
Labels: github_ci

#298 ci: open pr to cos-manifests dev overlay
  .github/workflows/build-main.yaml
Labels: github_ci

#301 ci: force main checkout
  .github/workflows/build-tag.yaml
Labels: github_ci

#308 ci: update resource ref tag
  .github/workflows/build-main.yaml
  .github/workflows/build-tag.yaml
Labels: github_ci

#310 ci: fix ref tag for staging env
  .github/workflows/build-tag.yaml
Labels: github_ci

#284 MGDCTRS-726 Copy `addon-pullsecret` from operator namespace to tenant namespaces
  cos-fleetshard-sync-it/src/main/resources/application.properties
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/ConnectorProvisionerTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerTestBase.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithCustomAddonPullSecretNameTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerWithCustomPrefixTest.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/support/TestFleetShardSync.java
  cos-fleetshard-sync/pom.xml
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/FleetShardSyncConfig.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorNamespaceProvisioner.java
  cos-fleetshard-sync/src/main/resources/application.properties
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-camel/app-config/application.properties
  etc/kubernetes/manifests/base/apps/cos-fleetshard-operator-debezium/app-config/application.properties
  etc/kubernetes/manifests/base/apps/cos-fleetshard-sync/app-config/application.properties
  etc/kubernetes/manifests/overlays/bundles/cos-fleetshard-sync/app-config/application.properties
Labels: sync, test

#317 bundles
  .github/workflows/build-tag.yaml
Labels: github_ci

#318 chore: remove kind setup when building tag
  .github/workflows/build-tag.yaml
Labels: github_ci

#323 MGDCTRS-794 Use Kafka Connect JsonConverter with `schemas.enable=true` for data_shape "JSON with schema"
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyJsonWithSchema.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifySchemalessJson.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/DebeziumDataShape.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/model/KafkaConnectJsonWithSchemaConverter.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
Labels: debezium, test

#325 MGDCTRS-731: Create ports section in connector deployment - camel
  cos-fleetshard-it/cucumber/src/main/java/org/bf2/cos/fleetshard/it/cucumber/assertions/CucumberDataTableAssert.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelConstants.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
Labels: camel, test

#326 chore: add namespace tenant id and kind to metadata.lables
  cos-fleetshard-support/src/main/java/org/bf2/cos/fleetshard/support/resources/Resources.java
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerTest.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorNamespaceProvisioner.java
Labels: common, sync, test

#332 MGDCTRS-811 Debezium Postgres Connector should use `pgoutput` plugin instead of `decoderbufs` as default
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyAvro.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyJsonWithSchema.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifySchemalessJson.feature
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorReifyWithExternalConfig.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
Labels: debezium, test

#331 feat(operator-camel): add backoff max attempts
  cos-fleetshard-operator-camel-it/src/test/java/org/bf2/cos/fleetshard/operator/it/camel/CamelConnectorReifyTest.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReify.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandConfiguration.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
Labels: camel, test

#336 feat(sync): dont break on bad namespace or connector
  cos-fleetshard-sync-it/src/test/java/org/bf2/cos/fleetshard/sync/it/NamespaceProvisionerTestBadName.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorDeploymentProvisioner.java
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/resources/ConnectorNamespaceProvisioner.java
Labels: sync, test

#339 feat(camel-operator): honor default error handler
  cos-fleetshard-operator-camel-it/src/test/java/org/bf2/cos/fleetshard/operator/it/camel/glues/CamelConnectorSteps.java
  cos-fleetshard-operator-camel-it/src/test/resources/CamelConnectorReifyErrorHandler.feature
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandController.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/CamelOperandSupport.java
  cos-fleetshard-operator-camel/src/main/java/org/bf2/cos/fleetshard/operator/camel/model/CamelShardMetadata.java
Labels: camel, test

#341 MGDCTRS-232 Add resource quotas (requests and limits) to Debezium Kafka Connect pods
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
Labels: debezium

#328 MGDCTRS-802 Map `TimeoutException` condition-reason to "The configured Kafka Cluster is unreachable." as error message
  cos-fleetshard-operator-debezium-it/src/test/resources/DebeziumConnectorEvents.feature
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandController.java
  cos-fleetshard-operator-debezium/src/main/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandSupport.java
  cos-fleetshard-operator-debezium/src/test/java/org/bf2/cos/fleetshard/operator/debezium/DebeziumOperandControllerTest.java
Labels: debezium, test

#348 set local namespace and improve readme
  README.adoc
  cos-fleetshard-sync/pom.xml
Labels: sync

#350 fix: use namespace when deleting CSV on cleanup
  cos-fleetshard-sync/src/main/java/org/bf2/cos/fleetshard/sync/housekeeping/reapers/AddonReaper.java
Labels: sync
